<section class="greencard section">
  <div class="greencard__container">
    <h2 class="greencard__title title">Зеленая карта</h2>
    <div class="greencard__wrapper">
      <ul class="greencard__list">
        <li class="greencard__item">
          <h3 class="greencard__subtitle">Тип транспортного средства</h3>
          <p class="greencard__text">Легковой автомобиль</p>
        </li>
        <li class="greencard__item">
          <h3 class="greencard__subtitle">Срок действия</h3>
          <p class="greencard__text">15 дней</p>
        </li>
        <li class="greencard__item">
          <h3 class="greencard__subtitle">Направление</h3>
          <p class="greencard__text">Европа (вся система)</p>
        </li>
      </ul>
      <button type="button" class="greencard__button button">
        <svg class="editicon" width="14" height="14">
          <use class="edit" href="assets/icons/sprite.svg#edit"></use>
        </svg>
        <span class="greencard__button--text">Изменить</span>
      </button>
    </div>
  </div>
</section>
