<section class="offers">
  <div class="offers__container">
    <ul class="offers__list">
      <li class="offers__item">
        <img class="offers__image" srcset="assets/images/offers-images/vuso-1x.png 1x, assets/images/offers-images/vuso-2x.png 2x" src="assets/images/offers-images/vuso-1x.png" alt="logo" width="131" height="32" />
        <h3 class="offers__title title-rating">Рейтинг</h3>
        <ul class="offers__rating">
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons/sprite.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons/sprite.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons/sprite.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons/sprite.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons/sprite.svg#star"></use>
            </svg>
          </li>
        </ul>

        <h3 class="offers__title title-name">Название</h3>
        <p class="offers__service">Название услуги в 1 строку</p>

        <h3 class="offers__title title-franchise">Франшиза</h3>
        <span class="offers__franchise">1000 грн.</span>
        <h3 class="offers__title title-price">Цена</h3>

        <p class="offers__price--new">1200 грн.</p>
        <div class="price-wrapper">
          <span class="offers__price--old">1400 грн.</span>
        </div>
        <div class="button-wrapper">
          <button type="button" class="offers__button button">Заказать</button>
        </div>
      </li>
      <li class="offers__item">
        <img class="offers__image" srcset="assets/images/offers-images/wupsk-1x.png 1x, assets/images/offers-images/wupsk-2x.png 2x" src="assets/images/offers-images/wupsk-1x.png" alt="logo" width="131" height="29" />
        <h3 class="offers__title title-rating">Рейтинг</h3>
        <ul class="offers__rating">
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons/sprite.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons/sprite.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons/sprite.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons/sprite.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons/sprite.svg#star"></use>
            </svg>
          </li>
        </ul>

        <h3 class="offers__title title-name">Название</h3>
        <p class="offers__service">Название услуги в 1 строку</p>

        <h3 class="offers__title title-franchise">Франшиза</h3>
        <span class="offers__franchise">1000 грн.</span>
        <h3 class="offers__title title-price">Цена</h3>

        <p class="offers__price--new">1200 грн.</p>
        <div class="price-wrapper">
          <span class="offers__price--old">1400 грн.</span>
        </div>
        <div class="button-wrapper">
          <button type="button" class="offers__button button">Заказать</button>
        </div>
      </li>
      <li class="offers__item">
        <img class="offers__image" srcset="assets/images/offers-images/acko-1x.png 1x, assets/images/offers-images/acko-2x.png 2x" src="assets/images/offers-images/acko-1x.png" alt="logo" width="131" height="34" />
        <h3 class="offers__title title-rating">Рейтинг</h3>
        <ul class="offers__rating">
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons/sprite.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons/sprite.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons/sprite.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons/sprite.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons/sprite.svg#star"></use>
            </svg>
          </li>
        </ul>

        <h3 class="offers__title title-name">Название</h3>
        <p class="offers__service">Название услуги в 1 строку</p>

        <h3 class="offers__title title-franchise">Франшиза</h3>
        <span class="offers__franchise">1000 грн.</span>
        <h3 class="offers__title title-price">Цена</h3>

        <p class="offers__price--new">1200 грн.</p>
        <div class="price-wrapper">
          <span class="offers__price--old">1400 грн.</span>
        </div>
        <div class="button-wrapper">
          <button type="button" class="offers__button button">Заказать</button>
        </div>
      </li>
      <li class="offers__item">
        <img class="offers__image" srcset="assets/images/offers-images/oranta-1x.png 1x, assets/images/offers-images/oranta-2x.png 2x" src="assets/images/offers-images/oranta-1x.png" alt="logo" width="121" height="45" />
        <h3 class="offers__title title-rating">Рейтинг</h3>
        <ul class="offers__rating">
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons/sprite.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons/sprite.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons/sprite.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons/sprite.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons/sprite.svg#star"></use>
            </svg>
          </li>
        </ul>

        <h3 class="offers__title title-name">Название</h3>
        <p class="offers__service">Название услуги в 1 строку</p>

        <h3 class="offers__title title-franchise">Франшиза</h3>
        <span class="offers__franchise">1000 грн.</span>
        <h3 class="offers__title title-price">Цена</h3>

        <p class="offers__price--new">1200 грн.</p>
        <div class="price-wrapper">
          <span class="offers__price--old">1400 грн.</span>
        </div>
        <div class="button-wrapper">
          <button type="button" class="offers__button button">Заказать</button>
        </div>
      </li>
      <li class="offers__item">
        <img class="offers__image" srcset="assets/images/offers-images/vuso-1x.png 1x, assets/images/offers-images/vuso-2x.png 2x" src="assets/images/offers-images/vuso-1x.png" alt="logo" width="131" height="32" />
        <h3 class="offers__title title-rating">Рейтинг</h3>
        <ul class="offers__rating">
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons/sprite.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons/sprite.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons/sprite.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons/sprite.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons/sprite.svg#star"></use>
            </svg>
          </li>
        </ul>

        <h3 class="offers__title title-name">Название</h3>
        <p class="offers__service">Название услуги в 1 строку</p>

        <h3 class="offers__title title-franchise">Франшиза</h3>
        <span class="offers__franchise">1000 грн.</span>
        <h3 class="offers__title title-price">Цена</h3>

        <p class="offers__price--new">1200 грн.</p>
        <div class="price-wrapper">
          <span class="offers__price--old">1400 грн.</span>
        </div>
        <div class="button-wrapper">
          <button type="button" class="offers__button button">Заказать</button>
        </div>
      </li>
      <li class="offers__item">
        <img class="offers__image" srcset="assets/images/offers-images/wupsk-1x.png 1x, assets/images/offers-images/wupsk-2x.png 2x" src="assets/images/offers-images/wupsk-1x.png" alt="logo" width="131" height="29" />
        <h3 class="offers__title title-rating">Рейтинг</h3>
        <ul class="offers__rating">
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons/sprite.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons/sprite.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons/sprite.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons/sprite.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons/sprite.svg#star"></use>
            </svg>
          </li>
        </ul>

        <h3 class="offers__title title-name">Название</h3>
        <p class="offers__service">Название услуги в 1 строку</p>

        <h3 class="offers__title title-franchise">Франшиза</h3>
        <span class="offers__franchise">1000 грн.</span>
        <h3 class="offers__title title-price">Цена</h3>

        <p class="offers__price--new">1200 грн.</p>
        <div class="price-wrapper">
          <span class="offers__price--old">1400 грн.</span>
        </div>
        <div class="button-wrapper">
          <button type="button" class="offers__button button">Заказать</button>
        </div>
      </li>
      <li class="offers__item">
        <img class="offers__image" srcset="assets/images/offers-images/acko-1x.png 1x, assets/images/offers-images/acko-2x.png 2x" src="assets/images/offers-images/acko-1x.png" alt="logo" width="131" height="34" />
        <h3 class="offers__title title-rating">Рейтинг</h3>
        <ul class="offers__rating">
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons/sprite.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons/sprite.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons/sprite.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons/sprite.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons/sprite.svg#star"></use>
            </svg>
          </li>
        </ul>

        <h3 class="offers__title title-name">Название</h3>
        <p class="offers__service">Название услуги в 1 строку</p>

        <h3 class="offers__title title-franchise">Франшиза</h3>
        <span class="offers__franchise">1000 грн.</span>
        <h3 class="offers__title title-price">Цена</h3>

        <p class="offers__price--new">1200 грн.</p>
        <div class="price-wrapper">
          <span class="offers__price--old">1400 грн.</span>
        </div>
        <div class="button-wrapper">
          <button type="button" class="offers__button button">Заказать</button>
        </div>
      </li>
      <li class="offers__item">
        <img class="offers__image" srcset="assets/images/offers-images/oranta-1x.png 1x, assets/images/offers-images/oranta-2x.png 2x" src="assets/images/offers-images/oranta-1x.png" alt="logo" width="121" height="45" />
        <h3 class="offers__title title-rating">Рейтинг</h3>
        <ul class="offers__rating">
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons/sprite.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons/sprite.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons/sprite.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons/sprite.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons/sprite.svg#star"></use>
            </svg>
          </li>
        </ul>

        <h3 class="offers__title title-name">Название</h3>
        <p class="offers__service">Название услуги в 1 строку</p>

        <h3 class="offers__title title-franchise">Франшиза</h3>
        <span class="offers__franchise">1000 грн.</span>
        <h3 class="offers__title title-price">Цена</h3>

        <p class="offers__price--new">1200 грн.</p>
        <div class="price-wrapper">
          <span class="offers__price--old">1400 грн.</span>
        </div>
        <div class="button-wrapper">
          <button type="button" class="offers__button button">Заказать</button>
        </div>
      </li>
    </ul>
  </div>
</section>
