<section class="sort">
  <div class="sort__container">
    <div class="sort__wrapper">
      <p class="sort__text">
        Гарантируем лучшую цену, не дороже чем напрямую в страховой компании
      </p>
      <p class="sort__offers">8 предложений</p>
    </div>
    <ul class="sort__list sort__list--offers">
      <li class="sort__item sort__item--offers active ">По цене</li>
      <li class="sort__item sort__item--offers">По рейтингу</li>
      <li class="sort__item sort__item--offers">Электронный адрес</li>
    </ul>
  </div>
</section>
