.description-display {
  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.description {
  @media screen and (min-width: $mobile) and (max-width: ($desktop)) {
    margin-top: 60px;
    padding-bottom: 56px;
  }
  @media screen and (min-width: $desktop) {
    padding-bottom: 115px;
  }

  &__title {
    font-family: $main-font;
    color: $primary-text-color;
    line-height: 1.22;
    @media screen and (min-width: $mobile) and (max-width: ($desktop)) {
      margin-bottom: 10px;
      font-size: 20px;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 16px;
      font-size: 36px;
    }
  }

  &__text {
    font-family: $main-font;
    color: $service-text-color;
    line-height: 1.46;
    padding-right: 20px;
    @media screen and (min-width: $mobile) and (max-width: ($desktop)) {
      font-size: 14px;
    }
    @media screen and (min-width: $desktop) {
    }
  }

  &__content {
    overflow: auto;
    @media screen and (min-width: $mobile) and (max-width: ($desktop)) {
      height: 226px;
    }
    @media screen and (min-width: $desktop) {
      height: 265px;
      width: 1270px;
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__content::-webkit-scrollbar {
    width: 10px;
  }

  &__content::-webkit-scrollbar-track {
    background: #e5e5e5;
    border: 4px solid #fff;
  }

  &__content::-webkit-scrollbar-thumb {
    background: $scroll-color;
    border-radius: 5px;
  }

  .overlay-thumb {
    position: relative;
  }
  .overlay {
    position: absolute;
    left: 0;
    bottom: -21px;
    width: 96%;

    background: linear-gradient(180deg, transparent, #fff 30%);
    @media screen and (min-width: $mobile) and (max-width: ($desktop)) {
      height: 45px;
    }
    @media screen and (min-width: $desktop) {
      height: 32px;
    }
  }
}
