.footer {
  background-color: $secondary-background-color;
  @media screen and (min-width: $mobile) and (max-width: ($desktop)) {
    padding-top: 50px;
    padding-bottom: 54px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 80px;
    padding-bottom: 60px;
  }

  &__wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: $desktop) {
      border-bottom: 1px solid $footer-border-color;
    }
  }

  &__logo {
    @media screen and (min-width: $mobile) and (max-width: ($desktop)) {
      margin: 0 auto;
    }
  }

  &__nav {
    @media screen and (min-width: $mobile) and (max-width: ($desktop)) {
      margin-top: 44px;

      .nav__item {
        margin: 0 auto;
        font-weight: 600;
        font-size: 14px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: #001237;
      }
      .nav__item:not(:last-child) {
        margin-bottom: 27px;
      }
    }

    @media screen and (min-width: $desktop) {
      display: flex;
      margin-top: 60px;
      margin-bottom: 52px;
      margin-left: auto;
      margin-right: auto;

      .nav__item {
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
      }
      .nav__item:not(:last-child) {
        margin-right: 34px;
      }
    }
  }
}
.basement {
  margin-top: 44px;
  display: grid;
  @media screen and (min-width: $mobile) and (max-width: ($desktop)) {
    text-align: center;
    grid-template-columns: 100%;
    grid-template-areas:
      "email"
      "phone"
      "copyright"
      "developers";
  }
  @media screen and (min-width: $desktop) {
    grid-template-columns: 30% 40% 30%;
    grid-template-areas: "copyright contacts-info developers";
  }

  &__copyright {
    grid-area: copyright;
    @include fonts($main-font, 14px, 1.71);
    opacity: 0.8;
    @media screen and (min-width: $mobile) and (max-width: ($desktop)) {
      margin-top: 42px;
      margin-bottom: 27px;
    }
  }
  &__item--email {
    grid-area: email;
  }

  &__item--phone {
    grid-area: phone;
  }

  .copyright-sign {
    margin-right: 4px;
  }

  &__list {
    @media screen and (min-width: $mobile) and (max-width: ($desktop)) {
      padding-bottom: 44px;
      border-bottom: 1px solid $footer-border-color;
    }
    @media screen and (min-width: $desktop) {
      grid-area: contacts-info;
      justify-self: center;
      display: flex;
      align-items: center;
    }
  }

  &__item:not(:last-child) {
    @media screen and (min-width: $mobile) and (max-width: ($desktop)) {
      padding-bottom: 24px;
    }
    @media screen and (min-width: $desktop) {
      margin-right: 36px;
    }
  }

  &__link {
    margin-left: 7px;
    @include fonts($main-font, 18px, 1.18);
    @media screen and (min-width: $mobile) and (max-width: ($desktop)) {
      color: $contacts-text-color;
    }
    @media screen and (min-width: $desktop) {
      color: $primary-text-color;
    }
  }

  .developers {
    grid-area: developers;
    display: flex;
    align-items: center;
    @include fonts($main-font, 14px, 1.16);
    color: $developers-text-color;
    opacity: 0.9;

    @media screen and (min-width: $mobile) and (max-width: ($desktop)) {
      justify-content: center;
    }
    @media screen and (min-width: $desktop) {
      justify-self: end;
    }

    &__icon {
      margin-left: 4px;
    }
  }
}
