.questions {
  @media screen and (min-width: $mobile) and (max-width: ($desktop)) {
    padding-top: 30px;
    padding-bottom: 23px;
  }
  @media screen and (min-width: $desktop) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__title {
    text-align: center;
    @media screen and (min-width: $mobile) and (max-width: ($desktop)) {
      margin-bottom: 32px;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 44px;
    }
  }

  &__list {
    box-shadow: 0px 4px 46px rgba(161, 168, 188, 0.22),
      0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
  }

  &__item:not(:last-child) &__wrapper {
    border-bottom: 1px solid $secondary-border-color;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (min-width: $mobile) and (max-width: ($desktop)) {
      padding: 17px 16px;
    }
    @media screen and (min-width: $desktop) {
      padding: 32px 40px;
    }
  }

  &__question {
    font-family: $main-font;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.02em;
    color: $questions-text-color;
    margin-left: 14px;
    @media screen and (min-width: $mobile) and (max-width: ($desktop)) {
      font-size: 16px;
    }
    @media screen and (min-width: $desktop) {
      font-size: 22px;
    }
  }
  .arrow-down {
    stroke: $button-background-color;
  }

  &__item.active &__wrapper {
    color: $button-background-color;
    background-color: $primary-background-color;
    border-left: 4px solid $button-background-color;
  }

  &__item.active &__button {
    background-color: $button-background-color;
    border-color: $button-background-color;
    transform: rotate(180deg);
  }

  &__item.active use {
    stroke: $primary-background-color;
  }

  &__button {
    width: 32px;
    height: 32px;
    background-color: $primary-background-color;
    border: 1px solid $secondary-border-color;
    border-radius: 50%;
    display: flex;
    align-items: center;
  }

  .answer {
    background-color: $primary-background-color;
    border-left: 4px solid $button-background-color;
    @media screen and (min-width: $mobile) and (max-width: ($desktop)) {
      padding: 24px 16px 18px;
    }
    @media screen and (min-width: $desktop) {
      padding: 34px 40px 40px;
    }
  }

  .answer__text {
    font-family: $main-font;
    font-size: 16px;
    line-height: 1.7;
    color: $text-color;
    opacity: 0.8;
    @media screen and (min-width: $mobile) and (max-width: ($desktop)) {
      margin-bottom: 16px;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 23px;
    }
  }

  .answer__item {
    position: relative;
    font-family: $main-font;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.1;
    color: $service-text-color;
    margin-left: 26px;
  }

  .answer__item:not(:last-child) {
    margin-bottom: 16px;
  }

  .answer__item::before {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    border: 4px solid $button-background-color;
    border-radius: 50%;
    left: -26px;
    top: 3px;
  }
}
