$mobile: 360px;
$max-mobile: 767px;
$tablet: 768px;
$max-tablet: 1529px;
$desktop: 1530px;

$main-font: "Montserrat", sans serif;
// $main-font: "Nunito", sans serif;

$primary-text-color: #001237;
$secondary-text-color: #aeaeae;
// $title-text-color: #212121;
$primary-background-color: #ffffff;
$background-color: #072d85;
$secondary-background-color: #f1f7fe;
$service-text-color: #263238;
$button-background-color: #2155cf;
$hover-background-color: #1442ae;
$btn-secondary-bg-color: #ff9504;
$btn-hover-bg-color: #e28300;
$footer-border-color: #d9d9d9;
$border-color: #cfdae2;
$accent-color: #2463f6;
$secondary-border-color: #d7e1e9;
$contacts-text-color: #a0abc1;
$developers-text-color: #2f2f2f;
$scroll-color: #265fd1;
