$mobile: 360px;
$tablet: 768px;
$desktop: 1530px;

$main-font: "Montserrat", sans serif;
// $main-font: "Nunito", sans serif;
$text-color: #000000;
$primary-text-color: #001237;
$secondary-text-color: #aeaeae;
$main-background-color: #ffffff;
$background-color: #072d85;
$primary-background-color: #f8fbfe;
$secondary-background-color: #f1f7fe;
$circle-background-color: #c0c2c3;
$secondary-circle-color: #4268b2;
$service-text-color: #263238;
$button-background-color: #2155cf;
$hover-background-color: #1442ae;
$btn-secondary-bg-color: #ff9504;
$btn-hover-bg-color: #e28300;
$footer-border-color: #d9d9d9;
$border-color: #cfdae2;
$accent-color: #2463f6;
$secondary-border-color: #d7e1e9;
$contacts-text-color: #a0abc1;
$questions-text-color: #1a1b20;
$developers-text-color: #2f2f2f;
$scroll-color: #265fd1;
$label-text-color: #8d94a4;
$subtitle-color: #94a1af;
$extra-background-color: #ebf0fb;
$sort-text-color: #7e8595;
