$main-font: "Montserrat", sans serif;
// $main-font: "Nunito", sans serif;

$primary-text-color: #001237;
$secondary-text-color: #aeaeae;
// $title-text-color: #212121;
$primary-background-color: #ffffff;
// $background-color: #e5e5e5;
$secondary-background-color: #f1f7fe;
// $instagram-background-color: #cfdae3;
// $hero-background-color: rgba(5, 7, 8, 0.45);
$button-background-color: #2155cf;
$hover-background-color: #1442ae;
$btn-secondary-bg-color: #ff9504;
// $footer-background-color: #6a737a;
// $languages-color: rgba(255, 255, 255, 0.4);
$border-color: #cfdae2;
// $accent-color: #aa182c;
$secondary-border-color: #d7e1e9;
// $label-background-color: rgba(47, 48, 58, 0.8);
// $portfolio-overlay-color: rgba(33, 150, 243, 0.9);
// $input-text-color: rgba(255, 255, 255, 0.6);
// $input-placeholder-color: rgba(117, 117, 117, 0.5);
