<section class="about">
  <div class="about__container container">
    <div class="about__wrapper">
      <div class="about__box">
        <h2 class="about__title title">О нас</h2>
        <p class="about__text">
          Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных
          изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
        </p>
      </div>
      <img class="about__image" srcset="assets/images/about-images/about-image-1x.jpg 1x, assets/images/about-images/about-image-2x.jpg 2x" src="assets/images/about-images/about-image-1x.jpg" alt="image of a toy car between two hands" width="676" height="412" loading="lazy" />
    </div>
  </div>
</section>
