<section class="kinds">
  <div class="kinds__container container">
    <h2 class="kinds__title">Виды страхования</h2>
    <ul class="kinds__list">
      <li class="kinds__item">
        <img
          class="kinds__image"
          src="assets/images/about-images/osago.png"
          alt="car image"
        />
        <div class="kinds__label">
          <h3 class="kinds__name">Осаго</h3>
        </div>
      </li>
      <li class="kinds__item">
        <img
          class="kinds__image"
          src="assets/images/about-images/kasko.png"
          alt="car image"
        />
        <div class="kinds__label">
          <h3 class="kinds__name">Каско</h3>
        </div>
      </li>
      <li class="kinds__item">
        <img
          class="kinds__image"
          src="assets/images/about-images/greencard.png"
          alt="car image"
        />

        <div class="kinds__label">
          <h3 class="kinds__name">Зеленая карта</h3>
        </div>
      </li>
      <li class="kinds__item">
        <img
          class="kinds__image"
          src="assets/images/about-images/tourism.png"
          alt="car image"
        />
        <div class="kinds__label">
          <h3 class="kinds__name">Туристическое страхование</h3>
        </div>
      </li>
    </ul>
  </div>
</section>
