<section class="types">
  <div class="types__container container">
    <h2 class="types__title title">Виды страхования</h2>
    <ul class="types__list">
      <li class="types__item">
        <img class="types__image" srcset="assets/images/about-images/osago-1x.jpg 1x, assets/images/about-images/osago-2x.jpg 2x" src="assets/images/about-images/osago-1x.jpg" alt="car image" width="360" height="200" loading="lazy" />
        <div class="types__label">
          <h3 class="types__name">Осаго</h3>
        </div>
      </li>
      <li class="types__item">
        <img class="types__image" srcset="assets/images/about-images/kasko-1x.jpg 1x, assets/images/about-images/kasko-2x.jpg 2x" src="assets/images/about-images/kasko-1x.jpg" alt="car image" width="360" height="200" loading="lazy" />
        <div class="types__label">
          <h3 class="types__name">Каско</h3>
        </div>
      </li>
      <li class="types__item">
        <img class="types__image" srcset="assets/images/about-images/greencard-1x.jpg 1x, assets/images/about-images/greencard-2x.jpg 2x" src="assets/images/about-images/greencard-1x.jpg" alt="car image" width="360" height="200" loading="lazy" />

        <div class="types__label">
          <h3 class="types__name">Зеленая карта</h3>
        </div>
      </li>
      <li class="types__item">
        <img class="types__image" srcset="assets/images/about-images/tourism-1x.jpg 1x, assets/images/about-images/tourism-2x.jpg 2x" src="assets/images/about-images/tourism-1x.jpg" alt="car image" width="360" height="200" loading="lazy" />
        <div class="types__label">
          <h3 class="types__name">Туристическое страхование</h3>
        </div>
      </li>
    </ul>
  </div>
</section>
