<section class="types">
  <div class="types__container container">
    <h2 class="types__title">Виды страхования</h2>
    <ul class="types__list">
      <li class="types__item">
        <img
          class="types__image"
          src="assets/images/about-images/osago.png"
          alt="car image"
        />
        <div class="types__label">
          <h3 class="types__name">Осаго</h3>
        </div>
      </li>
      <li class="types__item">
        <img
          class="types__image"
          src="assets/images/about-images/kasko.png"
          alt="car image"
        />
        <div class="types__label">
          <h3 class="types__name">Каско</h3>
        </div>
      </li>
      <li class="types__item">
        <img
          class="types__image"
          src="assets/images/about-images/greencard.png"
          alt="car image"
        />

        <div class="types__label">
          <h3 class="types__name">Зеленая карта</h3>
        </div>
      </li>
      <li class="types__item">
        <img
          class="types__image"
          src="assets/images/about-images/tourism.png"
          alt="car image"
        />
        <div class="types__label">
          <h3 class="types__name">Туристическое страхование</h3>
        </div>
      </li>
    </ul>
  </div>
</section>
