<section class="preparation">
  <div class="preparation__container container">
    <h2 class="preparation__title">Как оформить страховку</h2>
    <ul class="preparation__list">
      <li class="preparation__item">
        <div class="preparation__circle active active-line">1</div>
        <p class="preparation__choice">Выберите параметры</p>
      </li>
      <li class="preparation__item">
        <div class="preparation__circle">2</div>
        <p class="preparation__choice">Выберите подходящий пакет</p>
      </li>
      <li class="preparation__item">
        <div class="preparation__circle">3</div>
        <p class="preparation__choice">Ождидайте связи менеджера</p>
      </li>
    </ul>
    <div class="application__box">
      <svg class="application-icon" width="440">
        <use
          class="application-image"
          width="170"
          href="assets/icons/sprite.svg#application"
        ></use>
      </svg>
      <div class="application__wrapper">
        <h3 class="application__title">Оформите заявку</h3>
        <p class="application__text">
          Lorem Ipsum - это текст-"рыба", часто используемый в печати и
          вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на
          латинице с начала XVI века. В то время некий безымянный печатник
          создал большую коллекцию размеров
        </p>
      </div>
    </div>
  </div>
</section>
