<section class="contacts">
  <div class="contacts__container container">
    <h2 class="contacts__title title">Свяжитесь с нами</h2>
    <div class="contacts__wrapper">
      <div class="form">
        <div class="form__box">
          <div class="form__field">
            <label class="form__label" for="name">Ваше имя</label>
            <input
              class="form__input name-input"
              type="text"
              name="name"
              id="name"
            />
          </div>
          <div class="form__field">
            <label class="form__label" for="tel">Ваш номер телефона</label>
            <input
              class="form__input phone-input"
              type="tel"
              name="tel"
              id="tel"
              placeholder="+380 (__) ___ - __ - __"
            />
          </div>
        </div>
        <div class="form__field">
          <label class="form__label" for="topic"
            >Выберите продукт или тему сообщения</label
          >
          <input class="form__input" type="text" name="topic" id="topic" />
        </div>
        <div class="form__field">
          <label class="form__label" for="message"
            >Текст вашего сообщения</label
          >
          <textarea
            class="form__input form__message"
            name="message"
            id="message"
            rows="5"
          ></textarea>
          <button type="button" class="form__button button">
            Отправить сообщение
          </button>
        </div>
      </div>
      <div class="difficulties">
        <h3 class="difficulties__title">Напишите нам если:</h3>
        <ul class="difficulties__list">
          <li class="difficulties__item">
            Не нашли подходящий вариант страховки
          </li>
          <li class="difficulties__item">Возникли трудности с выбором</li>
          <li class="difficulties__item">
            Не получается оформить онлайн-полис
          </li>
          <li class="difficulties__item">
            Не получили ответ на заявку по страхованию
          </li>
          <li class="difficulties__item">Не нашли ответ на вопрос</li>
          <li class="difficulties__item">Нужны индивидуальные условия</li>
        </ul>
      </div>
    </div>
  </div>
</section>
