<section class="examples">
  <div class="examples__container container">
    <h2 class="examples__title title">Образцы документов</h2>

    <ul class="sort__list sort__list--examples">
      <li class="sort__item sort__item--examples">Онлайн полис</li>
      <li class="sort__item sort__item--examples active">Бумажный полис</li>
    </ul>

    <ul class="examples__list">
      <li class="examples__item">
        <img
          class="examples__image"
          src="assets/images/pecko-policy.png"
          alt="insurance policy"
          width="196"
        />
      </li>
      <li class="examples__item">
        <img
          class="examples__image"
          src="assets/images/guta-policy.png"
          alt="insurance policy"
          width="196"
        />
      </li>
      <li class="examples__item">
        <img
          class="examples__image"
          src="assets/images/pecko-policy.png"
          alt="insurance policy"
          width="196"
        />
      </li>
      <li class="examples__item">
        <img
          class="examples__image"
          src="assets/images/guta-policy.png"
          alt="insurance policy"
          width="196"
        />
      </li>
    </ul>
    <div class="slide__buttons slide__buttons--examples">
      <button type="button" class="slide__button slide__button--left">
        <svg width="17" height="9">
          <use href="assets/icons/sprite.svg#down-arrow"></use>
        </svg>
      </button>

      <button type="button" class="slide__button slide__button--right">
        <svg width="17" height="9">
          <use href="assets/icons/sprite.svg#down-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
