<section class="extra-types">
  <div class="extra-types__container container">
    <h2 class="extra-types__title">Другие виды страхования</h2>
    <ul class="extra-types__list">
      <li class="extra-types__item">
        <p class="extra-types__text">КАСКО</p>
        <svg class="extra-types__icon" width="14" height="14">
          <use href="assets/icons/sprite.svg#open-icon"></use>
        </svg>
      </li>
      <li class="extra-types__item">
        <p class="extra-types__text">ОCАГО</p>
        <svg class="extra-types__icon" width="14" height="14">
          <use href="assets/icons/sprite.svg#open-icon"></use>
        </svg>
      </li>
      <li class="extra-types__item">
        <p class="extra-types__text">Зеленая карта</p>
        <svg class="extra-types__icon" width="14" height="14">
          <use href="assets/icons/sprite.svg#open-icon"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
