<header class="header">
  <div class="header__container container">
    <svg class="menu-icon" width="30" height="20">
      <use class="menu" href="assets/icons.svg#menu"></use>
    </svg>
    <img class="header__logo" src="img/offers-images/logo.png" alt="logo" />

    <ul class="header__nav list">
      <li class="nav__item item">
        <a href="#" class="link nav__link">OCАГО</a>
      </li>
      <li class="nav__item item">
        <a href="#" class="link nav__link">КАСКО</a>
      </li>
      <li class="nav__item item">
        <a href="#" class="link nav__link">Зеленая карта</a>
      </li>
      <li class="nav__item item">
        <a href="#" class="link nav__link">Туристическое страхование</a>
      </li>
      <li class="nav__item item">
        <a href="#" class="link nav__link">О нас</a>
      </li>
      <li class="nav__item item">
        <a href="#" class="link nav__link">Контакты</a>
      </li>
    </ul>
    <button type="button" class="header__button button">Заказать звонок</button>
  </div>
</header>
