<header class="header">
  <div class="header__container container">
    <img src="img/offers-images/logo.png" alt="logo" />

    <ul class="site-nav list">
      <li class="site-nav__item item">
        <a href="#" class="link site-nav__link">OCАГО</a>
      </li>
      <li class="site-nav__item item">
        <a href="#" class="link site-nav__link">КАСКО</a>
      </li>
      <li class="site-nav__item item">
        <a href="#" class="link site-nav__link">Зеленая карта</a>
      </li>
      <li class="site-nav__item item">
        <a href="#" class="link site-nav__link">Туристическое страхование</a>
      </li>
      <li class="site-nav__item item">
        <a href="#" class="link site-nav__link">О нас</a>
      </li>
      <li class="site-nav__item item">
        <a href="#" class="link site-nav__link">Контакты</a>
      </li>
    </ul>
    <button type="button" class="header__button button">Заказать звонок</button>
  </div>
</header>
