<section class="greencard section">
  <div class="container greencard__container">
    <h2 class="greencard__title title">Зеленая карта</h2>
    <div class="greencard__wrapper">
      <ul class="greencard__list">
        <li class="greencard__item">
          <h3 class="greencard__subtitle">Тип транспортного средства</h3>
          <p class="greencard__text">Легковой автомобиль</p>
        </li>
        <li class="greencard__item">
          <h3 class="greencard__subtitle">Срок действия</h3>
          <p class="greencard__text">15 дней</p>
        </li>
        <li class="greencard__item">
          <h3 class="greencard__subtitle">Направление</h3>
          <p class="greencard__text">Европа(вся система)</p>
        </li>
      </ul>

      <button type="button" class="greencard__button button">
        <svg class="editicon" width="14" height="14">
          <use class="edit" href="assets/icons.svg#edit"></use>
        </svg>
        <span class="greencard__button--text">Изменить</span>
      </button>
    </div>
  </div>
</section>

<section class="sort">
  <div class="container sort__container">
    <div class="sort__wrapper">
      <p class="sort__text">
        Гарантируем лучшую цену, не дороже чем напрямую в страховой компании
      </p>
      <p class="sort__offers">8 предложений</p>
    </div>
    <ul class="sort__list">
      <li class="sort__item">По цене</li>
      <li class="sort__item">По рейтингу</li>
      <li class="sort__item">Электронный адрес</li>
    </ul>
  </div>
</section>

<section class="offers">
  <div class="container offers__container">
    <ul class="offers__list">
      <li class="offers__item">
        <img
          class="offers__image"
          src="img/offers-images/logo-vuso.png"
          alt="logo"
          width="131"
        />
        <div class="offers__stars">
          <svg class="staricon" width="16" height="16">
            <use class="star" href="assets/icons.svg#star"></use>
          </svg>
          <svg class="staricon" width="16" height="16">
            <use class="star" href="assets/icons.svg#star"></use>
          </svg>
          <svg class="staricon" width="16" height="16">
            <use class="star" href="assets/icons.svg#star"></use>
          </svg>
          <svg class="staricon" width="16" height="16">
            <use class="star" href="assets/icons.svg#star"></use>
          </svg>
          <svg class="staricon" width="16" height="16">
            <use class="star" href="assets/icons.svg#star"></use>
          </svg>
        </div>
        <p>Название услуги в 1 строку</p>
        <span>1000 гр</span>
        <div class="offers__discount">
          <p class="offers__newprice">1200 гр</p>
          <p class="offers__oldprice">1400 гр</p>
        </div>
        <button type="button" class="offers__button button">Заказать</button>
      </li>
      <li class="offers__item">По рейтингу</li>
      <li class="offers__item">Электронный адрес</li>
    </ul>
  </div>
</section>
