<section class="greencard section">
  <div class="greencard__container">
    <h2 class="greencard__title title">Зеленая карта</h2>
    <div class="greencard__wrapper">
      <ul class="greencard__list">
        <li class="greencard__item">
          <h3 class="greencard__subtitle">Тип транспортного средства</h3>
          <p class="greencard__text">Легковой автомобиль</p>
        </li>
        <li class="greencard__item">
          <h3 class="greencard__subtitle">Срок действия</h3>
          <p class="greencard__text">15 дней</p>
        </li>
        <li class="greencard__item">
          <h3 class="greencard__subtitle">Направление</h3>
          <p class="greencard__text">Европа(вся система)</p>
        </li>
      </ul>
      <button type="button" class="greencard__button button">
        <svg class="editicon" width="14" height="14">
          <use class="edit" href="assets/icons.svg#edit"></use>
        </svg>
        <span class="greencard__button--text">Изменить</span>
      </button>
    </div>
  </div>
</section>

<section class="sort">
  <div class="sort__container">
    <div class="sort__wrapper">
      <p class="sort__text">
        Гарантируем лучшую цену, не дороже чем напрямую в страховой компании
      </p>
      <p class="sort__offers">8 предложений</p>
    </div>
    <ul class="sort__list">
      <li class="sort__item active">По цене</li>
      <li class="sort__item">По рейтингу</li>
      <li class="sort__item">Электронный адрес</li>
    </ul>
  </div>
</section>

<section class="offers">
  <div class="offers__container">
    <ul class="offers__list">
      <li class="offers__item">
        <img
          class="offers__image"
          src="img/offers-images/logo-vuso.png"
          alt="logo"
          width="131"
        />
        <div class="offers__wrapper">
          <ul class="offers__rating">
            <li class="offers__star">
              <svg class="staricon" width="16" height="16">
                <use class="star" href="assets/icons.svg#star"></use>
              </svg>
            </li>
            <li class="offers__star">
              <svg class="staricon" width="16" height="16">
                <use class="star" href="assets/icons.svg#star"></use>
              </svg>
            </li>
            <li class="offers__star">
              <svg class="staricon" width="16" height="16">
                <use class="star" href="assets/icons.svg#star"></use>
              </svg>
            </li>
            <li class="offers__star">
              <svg class="staricon" width="16" height="16">
                <use class="star" href="assets/icons.svg#star"></use>
              </svg>
            </li>
            <li class="offers__star">
              <svg class="staricon" width="16" height="16">
                <use class="star" href="assets/icons.svg#star"></use>
              </svg>
            </li>
          </ul>
          <!-- <div class="offers__stars">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
          </div> -->
          <p>Название услуги в 1 строку</p>
          <span class="offers__price">1000 гр</span>
          <div class="offers__discount">
            <p class="offers__newprice">1200 гр</p>
            <p class="offers__oldprice">1400 гр</p>
          </div>
          <button type="button" class="offers__button button">Заказать</button>
        </div>
      </li>
      <li class="offers__item">
        <img
          class="offers__image"
          src="img/offers-images/logo-wupsk.png"
          alt="logo"
          width="131"
        />
        <div class="offers__wrapper">
          <!-- <div class="offers__stars">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
          </div> -->
          <ul class="offers__rating">
            <li class="offers__star">
              <svg class="staricon" width="16" height="16">
                <use class="star" href="assets/icons.svg#star"></use>
              </svg>
            </li>
            <li class="offers__star">
              <svg class="staricon" width="16" height="16">
                <use class="star" href="assets/icons.svg#star"></use>
              </svg>
            </li>
            <li class="offers__star">
              <svg class="staricon" width="16" height="16">
                <use class="star" href="assets/icons.svg#star"></use>
              </svg>
            </li>
            <li class="offers__star">
              <svg class="staricon" width="16" height="16">
                <use class="star" href="assets/icons.svg#star"></use>
              </svg>
            </li>
            <li class="offers__star">
              <svg class="staricon" width="16" height="16">
                <use class="star" href="assets/icons.svg#star"></use>
              </svg>
            </li>
          </ul>
          <p>Название услуги в 1 строку</p>
          <span class="offers__price">1000 гр</span>
          <div class="offers__discount">
            <p class="offers__newprice">1200 гр</p>
            <p class="offers__oldprice">1400 гр</p>
          </div>
          <button type="button" class="offers__button button">Заказать</button>
        </div>
      </li>
      <li class="offers__item">
        <img
          class="offers__image"
          src="img/offers-images/logo-acko.png"
          alt="logo"
          width="131"
        />
        <div class="offers__wrapper">
          <ul class="offers__rating">
            <li class="offers__star">
              <svg class="staricon" width="16" height="16">
                <use class="star" href="assets/icons.svg#star"></use>
              </svg>
            </li>
            <li class="offers__star">
              <svg class="staricon" width="16" height="16">
                <use class="star" href="assets/icons.svg#star"></use>
              </svg>
            </li>
            <li class="offers__star">
              <svg class="staricon" width="16" height="16">
                <use class="star" href="assets/icons.svg#star"></use>
              </svg>
            </li>
            <li class="offers__star">
              <svg class="staricon" width="16" height="16">
                <use class="star" href="assets/icons.svg#star"></use>
              </svg>
            </li>
            <li class="offers__star">
              <svg class="staricon" width="16" height="16">
                <use class="star" href="assets/icons.svg#star"></use>
              </svg>
            </li>
          </ul>
          <!-- <div class="offers__stars">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
          </div> -->
          <p>Название услуги в 1 строку</p>
          <span class="offers__price">1000 гр</span>
          <div class="offers__discount">
            <p class="offers__newprice">1200 гр</p>
            <p class="offers__oldprice">1400 гр</p>
          </div>
          <button type="button" class="offers__button button">Заказать</button>
        </div>
      </li>
      <li class="offers__item">
        <img
          class="offers__image"
          src="img/offers-images/logo-oranta.png"
          alt="logo"
          width="131"
        />
        <div class="offers__wrapper">
          <ul class="offers__rating">
            <li class="offers__star">
              <svg class="staricon" width="16" height="16">
                <use class="star" href="assets/icons.svg#star"></use>
              </svg>
            </li>
            <li class="offers__star">
              <svg class="staricon" width="16" height="16">
                <use class="star" href="assets/icons.svg#star"></use>
              </svg>
            </li>
            <li class="offers__star">
              <svg class="staricon" width="16" height="16">
                <use class="star" href="assets/icons.svg#star"></use>
              </svg>
            </li>
            <li class="offers__star">
              <svg class="staricon" width="16" height="16">
                <use class="star" href="assets/icons.svg#star"></use>
              </svg>
            </li>
            <li class="offers__star">
              <svg class="staricon" width="16" height="16">
                <use class="star" href="assets/icons.svg#star"></use>
              </svg>
            </li>
          </ul>
          <!-- <div class="offers__stars">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
          </div> -->
          <p>Название услуги в 1 строку</p>
          <span class="offers__price">1000 гр</span>
          <div class="offers__discount">
            <p class="offers__newprice">1200 гр</p>
            <p class="offers__oldprice">1400 гр</p>
          </div>
          <button type="button" class="offers__button button">Заказать</button>
        </div>
      </li>
      <li class="offers__item">
        <img
          class="offers__image"
          src="img/offers-images/logo-vuso.png"
          alt="logo"
          width="131"
        />
        <div class="offers__wrapper">
          <ul class="offers__rating">
            <li class="offers__star">
              <svg class="staricon" width="16" height="16">
                <use class="star" href="assets/icons.svg#star"></use>
              </svg>
            </li>
            <li class="offers__star">
              <svg class="staricon" width="16" height="16">
                <use class="star" href="assets/icons.svg#star"></use>
              </svg>
            </li>
            <li class="offers__star">
              <svg class="staricon" width="16" height="16">
                <use class="star" href="assets/icons.svg#star"></use>
              </svg>
            </li>
            <li class="offers__star">
              <svg class="staricon" width="16" height="16">
                <use class="star" href="assets/icons.svg#star"></use>
              </svg>
            </li>
            <li class="offers__star">
              <svg class="staricon" width="16" height="16">
                <use class="star" href="assets/icons.svg#star"></use>
              </svg>
            </li>
          </ul>
          <!-- <div class="offers__stars">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
          </div> -->
          <p>Название услуги в 1 строку</p>
          <span class="offers__price">1000 гр</span>
          <div class="offers__discount">
            <p class="offers__newprice">1200 гр</p>
            <p class="offers__oldprice">1400 гр</p>
          </div>
          <button type="button" class="offers__button button">Заказать</button>
        </div>
      </li>
      <li class="offers__item">
        <img
          class="offers__image"
          src="img/offers-images/logo-wupsk.png"
          alt="logo"
          width="131"
        />
        <div class="offers__wrapper">
          <ul class="offers__rating">
            <li class="offers__star">
              <svg class="staricon" width="16" height="16">
                <use class="star" href="assets/icons.svg#star"></use>
              </svg>
            </li>
            <li class="offers__star">
              <svg class="staricon" width="16" height="16">
                <use class="star" href="assets/icons.svg#star"></use>
              </svg>
            </li>
            <li class="offers__star">
              <svg class="staricon" width="16" height="16">
                <use class="star" href="assets/icons.svg#star"></use>
              </svg>
            </li>
            <li class="offers__star">
              <svg class="staricon" width="16" height="16">
                <use class="star" href="assets/icons.svg#star"></use>
              </svg>
            </li>
            <li class="offers__star">
              <svg class="staricon" width="16" height="16">
                <use class="star" href="assets/icons.svg#star"></use>
              </svg>
            </li>
          </ul>
          <!-- <div class="offers__stars">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
          </div> -->
          <p>Название услуги в 1 строку</p>
          <span class="offers__price">1000 гр</span>
          <div class="offers__discount">
            <p class="offers__newprice">1200 гр</p>
            <p class="offers__oldprice">1400 гр</p>
          </div>
          <button type="button" class="offers__button button">Заказать</button>
        </div>
      </li>
      <li class="offers__item">
        <img
          class="offers__image"
          src="img/offers-images/logo-acko.png"
          alt="logo"
          width="131"
        />
        <div class="offers__wrapper">
          <ul class="offers__rating">
            <li class="offers__star">
              <svg class="staricon" width="16" height="16">
                <use class="star" href="assets/icons.svg#star"></use>
              </svg>
            </li>
            <li class="offers__star">
              <svg class="staricon" width="16" height="16">
                <use class="star" href="assets/icons.svg#star"></use>
              </svg>
            </li>
            <li class="offers__star">
              <svg class="staricon" width="16" height="16">
                <use class="star" href="assets/icons.svg#star"></use>
              </svg>
            </li>
            <li class="offers__star">
              <svg class="staricon" width="16" height="16">
                <use class="star" href="assets/icons.svg#star"></use>
              </svg>
            </li>
            <li class="offers__star">
              <svg class="staricon" width="16" height="16">
                <use class="star" href="assets/icons.svg#star"></use>
              </svg>
            </li>
          </ul>
          <!-- <div class="offers__stars">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
          </div> -->
          <p>Название услуги в 1 строку</p>
          <span class="offers__price">1000 гр</span>
          <div class="offers__discount">
            <p class="offers__newprice">1200 гр</p>
            <p class="offers__oldprice">1400 гр</p>
          </div>
          <button type="button" class="offers__button button">Заказать</button>
        </div>
      </li>
      <li class="offers__item">
        <img
          class="offers__image"
          src="img/offers-images/logo-oranta.png"
          alt="logo"
          width="131"
        />
        <div class="offers__wrapper">
          <ul class="offers__rating">
            <li class="offers__star">
              <svg class="staricon" width="16" height="16">
                <use class="star" href="assets/icons.svg#star"></use>
              </svg>
            </li>
            <li class="offers__star">
              <svg class="staricon" width="16" height="16">
                <use class="star" href="assets/icons.svg#star"></use>
              </svg>
            </li>
            <li class="offers__star">
              <svg class="staricon" width="16" height="16">
                <use class="star" href="assets/icons.svg#star"></use>
              </svg>
            </li>
            <li class="offers__star">
              <svg class="staricon" width="16" height="16">
                <use class="star" href="assets/icons.svg#star"></use>
              </svg>
            </li>
            <li class="offers__star">
              <svg class="staricon" width="16" height="16">
                <use class="star" href="assets/icons.svg#star"></use>
              </svg>
            </li>
          </ul>
          <!-- <div class="offers__stars">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
          </div> -->
          <p>Название услуги в 1 строку</p>
          <span class="offers__price">1000 гр</span>
          <div class="offers__discount">
            <p class="offers__newprice">1200 гр</p>
            <p class="offers__oldprice">1400 гр</p>
          </div>
          <button type="button" class="offers__button button">Заказать</button>
        </div>
      </li>
      <li class="offers__item--mobile">
        <img
          class="offers__image"
          src="img/offers-images/logo-vuso.png"
          alt="logo"
          width="131"
        />
        <h3 class="offers__title title-rating">Рейтинг</h3>
        <ul class="offers__rating">
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
          </li>
        </ul>

        <h3 class="offers__title title-name">Название</h3>
        <p class="offers__service">Название услуги в 1 строку</p>

        <h3 class="offers__title title-franchise">Франшиза</h3>
        <span class="offers__franchise">1000 гр</span>
        <h3 class="offers__title title-price">Цена</h3>

        <p class="offers__price--new">1200 гр</p>
        <!-- <div class="price-wapper"> -->
        <p class="offers__price--old">1400 гр</p>
        <!-- </div> -->

        <button type="button" class="offers__button button">Заказать</button>
      </li>
    </ul>
  </div>
</section>

<section class="instruction">
  <div class="instruction__container container">
    <img
      class="instruction__image"
      src="img/offers-images/insurance-image.png"
      alt="img"
    />
    <div class="instruction__wrapper">
      <h3 class="instruction__title">
        Что делать при наступлении <br />страхового случая?
      </h3>
      <ul class="instruction__list">
        <li class="instruction__item">
          <svg class="securityicon" width="24" height="24">
            <use class="security" href="assets/icons.svg#security"></use>
          </svg>
          <p class="instruction__text">
            Связаться с контакт-центром ассистанса
          </p>
        </li>
        <li class="instruction__item">
          <svg class="securityicon" width="24" height="24">
            <use class="security" href="assets/icons.svg#security"></use>
          </svg>
          <p class="instruction__text">
            Сообщить название страховой компании и номер договора
          </p>
        </li>
        <li class="instruction__item">
          <svg class="securityicon" width="24" height="24">
            <use class="security" href="assets/icons.svg#security"></use>
          </svg>
          <p class="instruction__text">
            Действовать согласно полученных инструкций
          </p>
        </li>
      </ul>
      <button type="button" class="instruction__button button">
        Скачать документ-памятку
      </button>
    </div>
  </div>
</section>
