<section class="greencard section">
  <div class="greencard__container">
    <h2 class="greencard__title title">Зеленая карта</h2>
    <div class="greencard__wrapper">
      <ul class="greencard__list">
        <li class="greencard__item">
          <h3 class="greencard__subtitle">Тип транспортного средства</h3>
          <p class="greencard__text">Легковой автомобиль</p>
        </li>
        <li class="greencard__item">
          <h3 class="greencard__subtitle">Срок действия</h3>
          <p class="greencard__text">15 дней</p>
        </li>
        <li class="greencard__item">
          <h3 class="greencard__subtitle">Направление</h3>
          <p class="greencard__text">Европа(вся система)</p>
        </li>
      </ul>
      <button type="button" class="greencard__button button">
        <svg class="editicon" width="14" height="14">
          <use class="edit" href="assets/icons.svg#edit"></use>
        </svg>
        <span class="greencard__button--text">Изменить</span>
      </button>
    </div>
  </div>
</section>

<section class="sort">
  <div class="sort__container">
    <div class="sort__wrapper">
      <p class="sort__text">
        Гарантируем лучшую цену, не дороже чем напрямую в страховой компании
      </p>
      <p class="sort__offers">8 предложений</p>
    </div>
    <ul class="sort__list">
      <li class="sort__item active">По цене</li>
      <li class="sort__item">По рейтингу</li>
      <li class="sort__item">Электронный адрес</li>
    </ul>
  </div>
</section>

<section class="offers">
  <div class="offers__container">
    <ul class="offers__list">
      <li class="offers__item">
        <img
          class="offers__image"
          src="img/offers-images/logo-vuso.png"
          alt="logo"
          width="131"
        />
        <h3 class="offers__title title-rating">Рейтинг</h3>
        <ul class="offers__rating">
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
          </li>
        </ul>

        <h3 class="offers__title title-name">Название</h3>
        <p class="offers__service">Название услуги в 1 строку</p>

        <h3 class="offers__title title-franchise">Франшиза</h3>
        <span class="offers__franchise">1000 грн.</span>
        <h3 class="offers__title title-price">Цена</h3>

        <p class="offers__price--new">1200 грн.</p>
        <div class="price-wrapper">
          <span class="offers__price--old">1400 грн.</span>
        </div>
        <div class="button-wrapper">
          <button type="button" class="offers__button button">Заказать</button>
        </div>
      </li>
      <li class="offers__item">
        <img
          class="offers__image"
          src="img/offers-images/logo-wupsk.png"
          alt="logo"
          width="131"
        />
        <h3 class="offers__title title-rating">Рейтинг</h3>
        <ul class="offers__rating">
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
          </li>
        </ul>

        <h3 class="offers__title title-name">Название</h3>
        <p class="offers__service">Название услуги в 1 строку</p>

        <h3 class="offers__title title-franchise">Франшиза</h3>
        <span class="offers__franchise">1000 грн.</span>
        <h3 class="offers__title title-price">Цена</h3>

        <p class="offers__price--new">1200 грн.</p>
        <div class="price-wrapper">
          <span class="offers__price--old">1400 грн.</span>
        </div>
        <div class="button-wrapper">
          <button type="button" class="offers__button button">Заказать</button>
        </div>
      </li>
      <li class="offers__item">
        <img
          class="offers__image"
          src="img/offers-images/logo-acko.png"
          alt="logo"
          width="131"
        />
        <h3 class="offers__title title-rating">Рейтинг</h3>
        <ul class="offers__rating">
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
          </li>
        </ul>

        <h3 class="offers__title title-name">Название</h3>
        <p class="offers__service">Название услуги в 1 строку</p>

        <h3 class="offers__title title-franchise">Франшиза</h3>
        <span class="offers__franchise">1000 грн.</span>
        <h3 class="offers__title title-price">Цена</h3>

        <p class="offers__price--new">1200 грн.</p>
        <div class="price-wrapper">
          <span class="offers__price--old">1400 грн.</span>
        </div>
        <div class="button-wrapper">
          <button type="button" class="offers__button button">Заказать</button>
        </div>
      </li>
      <li class="offers__item">
        <img
          class="offers__image"
          src="img/offers-images/logo-oranta.png"
          alt="logo"
          width="131"
        />
        <h3 class="offers__title title-rating">Рейтинг</h3>
        <ul class="offers__rating">
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
          </li>
        </ul>

        <h3 class="offers__title title-name">Название</h3>
        <p class="offers__service">Название услуги в 1 строку</p>

        <h3 class="offers__title title-franchise">Франшиза</h3>
        <span class="offers__franchise">1000 грн.</span>
        <h3 class="offers__title title-price">Цена</h3>

        <p class="offers__price--new">1200 грн.</p>
        <div class="price-wrapper">
          <span class="offers__price--old">1400 грн.</span>
        </div>
        <div class="button-wrapper">
          <button type="button" class="offers__button button">Заказать</button>
        </div>
      </li>
      <li class="offers__item">
        <img
          class="offers__image"
          src="img/offers-images/logo-vuso.png"
          alt="logo"
          width="131"
        />
        <h3 class="offers__title title-rating">Рейтинг</h3>
        <ul class="offers__rating">
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
          </li>
        </ul>

        <h3 class="offers__title title-name">Название</h3>
        <p class="offers__service">Название услуги в 1 строку</p>

        <h3 class="offers__title title-franchise">Франшиза</h3>
        <span class="offers__franchise">1000 грн.</span>
        <h3 class="offers__title title-price">Цена</h3>

        <p class="offers__price--new">1200 грн.</p>
        <div class="price-wrapper">
          <span class="offers__price--old">1400 грн.</span>
        </div>
        <div class="button-wrapper">
          <button type="button" class="offers__button button">Заказать</button>
        </div>
      </li>
      <li class="offers__item">
        <img
          class="offers__image"
          src="img/offers-images/logo-wupsk.png"
          alt="logo"
          width="131"
        />
        <h3 class="offers__title title-rating">Рейтинг</h3>
        <ul class="offers__rating">
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
          </li>
        </ul>

        <h3 class="offers__title title-name">Название</h3>
        <p class="offers__service">Название услуги в 1 строку</p>

        <h3 class="offers__title title-franchise">Франшиза</h3>
        <span class="offers__franchise">1000 грн.</span>
        <h3 class="offers__title title-price">Цена</h3>

        <p class="offers__price--new">1200 грн.</p>
        <div class="price-wrapper">
          <span class="offers__price--old">1400 грн.</span>
        </div>
        <div class="button-wrapper">
          <button type="button" class="offers__button button">Заказать</button>
        </div>
      </li>
      <li class="offers__item">
        <img
          class="offers__image"
          src="img/offers-images/logo-acko.png"
          alt="logo"
          width="131"
        />
        <h3 class="offers__title title-rating">Рейтинг</h3>
        <ul class="offers__rating">
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
          </li>
        </ul>

        <h3 class="offers__title title-name">Название</h3>
        <p class="offers__service">Название услуги в 1 строку</p>

        <h3 class="offers__title title-franchise">Франшиза</h3>
        <span class="offers__franchise">1000 грн.</span>
        <h3 class="offers__title title-price">Цена</h3>

        <p class="offers__price--new">1200 грн.</p>
        <div class="price-wrapper">
          <span class="offers__price--old">1400 грн.</span>
        </div>
        <div class="button-wrapper">
          <button type="button" class="offers__button button">Заказать</button>
        </div>
      </li>
      <li class="offers__item">
        <img
          class="offers__image"
          src="img/offers-images/logo-oranta.png"
          alt="logo"
          width="131"
        />
        <h3 class="offers__title title-rating">Рейтинг</h3>
        <ul class="offers__rating">
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
          </li>
          <li class="offers__star">
            <svg class="staricon" width="16" height="16">
              <use class="star" href="assets/icons.svg#star"></use>
            </svg>
          </li>
        </ul>

        <h3 class="offers__title title-name">Название</h3>
        <p class="offers__service">Название услуги в 1 строку</p>

        <h3 class="offers__title title-franchise">Франшиза</h3>
        <span class="offers__franchise">1000 грн.</span>
        <h3 class="offers__title title-price">Цена</h3>

        <p class="offers__price--new">1200 грн.</p>
        <div class="price-wrapper">
          <span class="offers__price--old">1400 грн.</span>
        </div>
        <div class="button-wrapper">
          <button type="button" class="offers__button button">Заказать</button>
        </div>
      </li>
    </ul>
  </div>
</section>

<section class="instruction">
  <div class="instruction__container container">
    <div class="instruction__wrapper">
      <img
        class="instruction__image"
        src="img/offers-images/insurance-image.png"
        alt="img"
      />
      <div class="instruction__content">
        <h3 class="instruction__title">
          Что делать при наступлении <br />страхового случая?
        </h3>
        <ul class="instruction__list">
          <li class="instruction__item">
            <svg class="security-icon" width="24" height="24">
              <use class="security" href="assets/icons.svg#security"></use>
            </svg>
            <p class="instruction__text">
              Связаться с контакт-центром ассистанса
            </p>
          </li>
          <li class="instruction__item">
            <svg class="security-icon" width="24" height="24">
              <use class="security" href="assets/icons.svg#security"></use>
            </svg>
            <p class="instruction__text">
              Сообщить название страховой компании и номер договора
            </p>
          </li>
          <li class="instruction__item">
            <svg class="security-icon" width="24" height="24">
              <use class="security" href="assets/icons.svg#security"></use>
            </svg>
            <p class="instruction__text">
              Действовать согласно полученных инструкций
            </p>
          </li>
        </ul>
        <button type="button" class="instruction__button button">
          Скачать документ-памятку
        </button>
      </div>
    </div>
  </div>
</section>
<section class="description">
  <div class="description__container container">
    <h2 class="description__title">Онлайн страхование</h2>
    <p class="description__text">
      У клиентов бывают случаи в жизни, когда оформить быстрый кредит онлайн в
      Украине попросту необходимо. Некоторым он нужен для открытия бизнеса,
      некоторым до зарплаты, а кому-то нужно организовать мероприятие,на пример,
      свадьбу. Поэтому люди ищут возможность, как можно выгоднее оформить
      быстрый кредит на карту в Украине и не бедствовать от У клиентов бывают
      случаи в жизни, когда оформить быстрый кредит онлайн в Украине попросту
      необходимо. Некоторым он нужен для открытия бизнеса, некоторым до
      зарплаты, а кому-то нужно организовать мероприятие,на пример, свадьбу.
      Поэтому люди ищут возможность, как можно выгоднее оформить быстрый кредит
      на карту в Украине и не бедствовать от У клиентов бывают случаи в жизни,
      когда оформить быстрый кредит онлайн в Украине попросту необходимо.
      Некоторым он нужен для открытия бизнеса, некоторым до зарплаты, а кому-то
      нужно организовать мероприятие,на пример, свадьбу. Поэтому люди ищут
      возможность, как можно выгоднее оформить быстрый кредит на карту в Украине
      и не бедствовать от У клиентов бывают случаи в жизни, когда оформить
      быстрый кредит онлайн в Украине попросту необходимо. Некоторым он нужен
      для открытия бизнеса, некоторым до зарплаты, а кому-то нужно организовать
      мероприятие,на пример, свадьбу. Поэтому люди ищут возможность, как можно
      выгоднее оформить быстрый кредит на карту в Украине и не бедствовать от
    </p>
  </div>
</section>
