<section class="reviews">
  <div class="reviews__container container">
    <div class="reviews__wrapper">
      <h2 class="reviews__title title">Нам доверяют сотни людей</h2>
      <div class="reviews__buttons">
        <button type="button" class="reviews__button reviews__button--left">
          <svg class="arrow-icon" width="40" height="40">
            <use
              class="arrow"
              href="assets/icons/sprite.svg#blue-left-arrow"
            ></use>
          </svg>
        </button>
        <button class="reviews__button reviews__button--right">
          <svg class="arrow-icon" width="40" height="40">
            <use
              class="arrow"
              href="assets/icons/sprite.svg#blue-left-arrow"
            ></use>
          </svg>
        </button>
      </div>

      <ul class="reviews__list">
        <li class="reviews__item">
          <ul class="rating">
            <li class="rating__star">
              <svg class="rating__icon" width="20" height="20">
                <use class="star" href="assets/icons/sprite.svg#star"></use>
              </svg>
            </li>
            <li class="rating__star">
              <svg class="rating__icon" width="20" height="20">
                <use class="star" href="assets/icons/sprite.svg#star"></use>
              </svg>
            </li>
            <li class="rating__star">
              <svg class="rating__icon" width="20" height="20">
                <use class="star" href="assets/icons/sprite.svg#star"></use>
              </svg>
            </li>
            <li class="rating__star">
              <svg class="rating__icon" width="20" height="20">
                <use class="star" href="assets/icons/sprite.svg#star"></use>
              </svg>
            </li>
            <li class="rating__star">
              <svg class="rating__ricon" width="20" height="20">
                <use class="star" href="assets/icons/sprite.svg#star"></use>
              </svg>
            </li>
          </ul>
          <p class="reviews__text">
            У клиентов бывают случаи в жизни, когда оформить быстрый кредит
            онлайн в Украине попросту необходимо. Некоторым он нужен для
            открытия бизнеса
          </p>
          <div class="reviews__box">
            <img
              class="reviews__image"
              src="assets/images/reviews-images/helen.png"
              alt="photo"
            />
            <div class="reviews__thumb">
              <p class="reviews__name">Елена</p>
              <span class="reviews__date">12.05.2018</span>
            </div>
          </div>
        </li>
        <li class="reviews__item reviews__item--invisible">
          <ul class="rating">
            <li class="rating__star">
              <svg class="rating__icon" width="20" height="20">
                <use class="star" href="assets/icons/sprite.svg#star"></use>
              </svg>
            </li>
            <li class="rating__star">
              <svg class="rating__icon" width="20" height="20">
                <use class="star" href="assets/icons/sprite.svg#star"></use>
              </svg>
            </li>
            <li class="rating__star">
              <svg class="rating__icon" width="20" height="20">
                <use class="star" href="assets/icons/sprite.svg#star"></use>
              </svg>
            </li>
            <li class="rating__star">
              <svg class="rating__icon" width="20" height="20">
                <use class="star" href="assets/icons/sprite.svg#star"></use>
              </svg>
            </li>
            <li class="rating__star">
              <svg class="rating__ricon" width="20" height="20">
                <use class="star" href="assets/icons/sprite.svg#star"></use>
              </svg>
            </li>
          </ul>
          <p class="reviews__text">
            У клиентов бывают случаи в жизни, когда оформить быстрый кредит
            онлайн в Украине попросту необходимо. Некоторым он нужен для
            открытия бизнеса
          </p>
          <div class="reviews__box">
            <img
              class="reviews__image"
              src="assets/images/reviews-images/helen.png"
              alt="photo"
            />
            <div class="reviews__thumb">
              <p class="reviews__name">Елена</p>
              <span class="reviews__date">12.05.2018</span>
            </div>
          </div>
        </li>
        <li class="reviews__item reviews__item--invisible">
          <ul class="rating">
            <li class="rating__star">
              <svg class="rating__icon" width="20" height="20">
                <use class="star" href="assets/icons/sprite.svg#star"></use>
              </svg>
            </li>
            <li class="rating__star">
              <svg class="rating__icon" width="20" height="20">
                <use class="star" href="assets/icons/sprite.svg#star"></use>
              </svg>
            </li>
            <li class="rating__star">
              <svg class="rating__icon" width="20" height="20">
                <use class="star" href="assets/icons/sprite.svg#star"></use>
              </svg>
            </li>
            <li class="rating__star">
              <svg class="rating__icon" width="20" height="20">
                <use class="star" href="assets/icons/sprite.svg#star"></use>
              </svg>
            </li>
            <li class="rating__star">
              <svg class="rating__ricon" width="20" height="20">
                <use class="star" href="assets/icons/sprite.svg#star"></use>
              </svg>
            </li>
          </ul>
          <p class="reviews__text">
            У клиентов бывают случаи в жизни, когда оформить быстрый кредит
            онлайн в Украине попросту необходимо. Некоторым он нужен для
            открытия бизнеса
          </p>
          <div class="reviews__box">
            <img
              class="reviews__image"
              src="assets/images/reviews-images/helen.png"
              alt="photo"
            />
            <div class="reviews__thumb">
              <p class="reviews__name">Елена</p>
              <span class="reviews__date">12.05.2018</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
