<section class="advantages">
  <div class="advantages__container container">
    <h2 class="advantages__title title">
      Преимущества заказа полиса онлайн - экономия 10%
    </h2>
    <ul class="advantages__list">
      <li class="advantages__item">
        <div class="svg-wrapper">
          <svg class="advantages__icon" width="46" height="46">
            <use href="assets/icons/sprite.svg#money"></use>
          </svg>
        </div>
        <p class="advantages__text">Безопасность платежей</p>
      </li>

      <li class="advantages__item">
        <div class="svg-wrapper">
          <svg class="advantages__icon" width="32" height="38">
            <use href="assets/icons/sprite.svg#sand-clock"></use>
          </svg>
        </div>
        <p class="advantages__text">Экономия времени</p>
      </li>

      <li class="advantages__item">
        <div class="svg-wrapper">
          <svg class="advantages__icon" width="35" height="45">
            <use href="assets/icons/sprite.svg#garanty"></use>
          </svg>
        </div>
        <p class="advantages__text">Гарантия законности</p>
      </li>

      <li class="advantages__item">
        <div class="svg-wrapper">
          <svg class="advantages__icon" width="37" height="37">
            <use href="assets/icons/sprite.svg#home"></use>
          </svg>
        </div>
        <p class="advantages__text">Не выходя из дома</p>
      </li>
    </ul>
  </div>
</section>
