.types {
  @media screen and (min-width: $mobile) and (max-width: ($desktop)) {
    padding-top: 30px;
    padding-bottom: 35px;
  }
  @media screen and (min-width: $desktop) {
    padding-top: 50px;
    padding-bottom: 100px;
  }

  &__title {
    text-align: center;
    @media screen and (min-width: $mobile) and (max-width: ($desktop)) {
      margin-bottom: 32px;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 44px;
    }
  }

  &__list {
    display: flex;
    @media screen and (min-width: $mobile) and (max-width: ($desktop)) {
      flex-direction: column;
    }
    @media screen and (min-width: $desktop) {
      justify-content: space-between;
    }
  }

  &__item {
    position: relative;
    @media screen and (min-width: $mobile) and (max-width: ($desktop)) {
      align-self: center;
      margin-bottom: 25px;
    }
  }

  &__label {
    position: absolute;
    padding-top: 75px;
    height: 120px;
    width: 100%;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 93%);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    @media screen and (min-width: $mobile) and (max-width: ($desktop)) {
      text-align: center;
    }
    @media screen and (min-width: $desktop) {
      padding-left: 24px;
    }
  }

  &__name {
    font-family: $main-font;
    font-size: 22px;
    font-weight: 500;
    line-height: 1;
    color: $primary-background-color;
  }
  &__image {
    border-radius: 12px;
  }
}
