.greencard {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $secondary-background-color;

  &__container {
    margin: 0 auto;
    background-color: $primary-background-color;
    border-radius: 10px;
  }

  &__wrapper {
    padding: 24px;
    @media screen and (min-width: $mobile) and (max-width: ($max-tablet)) {
      padding-right: 5px;
    }
    @media screen and (min-width: $desktop) {
      display: flex;
      align-items: center;
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  &__list {
    @media screen and (min-width: $desktop) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__item:not(:last-child) {
    margin-right: 120px;
  }

  &__item {
    @media screen and (min-width: $mobile) and (max-width: $max-tablet) {
      margin-bottom: 18px;
    }
  }

  &__subtitle {
    @include fonts($main-font, 14px, 1.18);
    font-weight: 400;
    margin-bottom: 5px;
  }

  &__text {
    @include fonts($main-font, 16px, 1.18);
    font-weight: 600;
  }

  &__title {
    font-family: $main-font;
    font-weight: 700;
    line-height: 1.1;
    border-bottom: 1px solid $border-color;

    @media screen and (min-width: $mobile) and (max-width: ($max-tablet)) {
      padding: 24px;
      font-size: 32px;
    }
    @media screen and (min-width: $desktop) {
      padding: 32px 40px;
      font-size: 46px;
    }
  }
  &__button {
    display: flex;
    align-items: center;
    color: $button-background-color;
    background-color: $primary-background-color;
    border: 1px solid $button-background-color;
    @media screen and (min-width: $mobile) and (max-width: ($max-tablet)) {
      margin-top: 22px;
      padding: 17px 47px;
    }
    @media screen and (min-width: $desktop) {
      margin-right: 0;
      margin-left: auto;
      padding-left: 65px;
      padding-right: 65px;
    }
  }

  &__button:hover {
    color: $primary-background-color;
    background-color: $button-background-color;
    .editicon {
      fill: $primary-background-color;
    }
  }

  .editicon {
    fill: $button-background-color;
    margin-right: 5px;
  }
}