.offers {
  background-color: $secondary-background-color;
  @media screen and (min-width: $mobile) and (max-width: ($desktop)) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  @media screen and (min-width: $desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
    margin-bottom: 50px;
  }

  &__container {
    margin: 0 auto;
  }

  &__item {
    background-color: $main-background-color;
    border-radius: 10px;
    box-shadow: 0px 4px 46px rgba(123, 139, 181, 0.22);
    display: grid;
    @media screen and (min-width: $mobile) and (max-width: ($desktop)) {
      padding: 20px 26px 32px 26px;
      grid-template-columns: 52% 48%;
      grid-template-areas:
        'logo rating'
        'logo stars'
        'name name'
        'service service'
        'franchise price'
        'franсhise-price new-price'
        'franсhise-price old-price'
        'button button';
    }

    @media screen and (min-width: $desktop) {
      height: 120px;
      padding: 47px 38px 30px 54px;
      grid-template-columns: 22% 14% 24% 12% 1fr 2fr;
      grid-template-areas:
        'logo stars service franсhise-price new-price button'
        'logo stars service franсhise-price old-price button';
    }
  }
  &__image {
    grid-area: logo;
    @media screen and (min-width: $mobile) and (max-width: ($desktop)) {
      width: 98px;
      align-self: center;
    }
  }
  .title-rating {
    grid-area: rating;
    @media screen and (min-width: $mobile) and (max-width: ($desktop)) {
      font-family: $main-font;
      margin-bottom: 3px;
    }
    @media screen and (min-width: $desktop) {
      display: none;
    }
  }
  &__rating {
    grid-area: stars;
  }
  .title-name {
    grid-area: name;
    @media screen and (min-width: $mobile) and (max-width: ($desktop)) {
      font-family: $main-font;
      margin-top: 20px;
      margin-bottom: 4px;
    }
    @media screen and (min-width: $desktop) {
      display: none;
    }
  }
  &__service {
    grid-area: service;
    font-family: $main-font;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.06;
    color: $service-text-color;
  }

  .title-franchise {
    grid-area: franchise;
    @media screen and (min-width: $mobile) and (max-width: ($desktop)) {
      font-family: $main-font;
      margin-top: 23px;
      margin-bottom: 4px;
    }
    @media screen and (min-width: $desktop) {
      display: none;
    }
  }
  .title-price {
    grid-area: price;
    @media screen and (min-width: $mobile) and (max-width: ($desktop)) {
      font-family: $main-font;
      margin-top: 16px;
      margin-bottom: 4px;
    }
    @media screen and (min-width: $desktop) {
      display: none;
    }
  }

  &__franchise {
    grid-area: franсhise-price;
    font-family: $main-font;
    font-size: 18px;
    line-height: 1.06;
    color: $service-text-color;
  }

  &__price--new {
    grid-area: new-price;
    font-family: $main-font;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.06;
    color: $service-text-color;
  }
  .price-wrapper {
    grid-area: old-price;
    padding-top: 4px;
  }
  &__price--old {
    font-family: $main-font;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.06;
    color: $secondary-text-color;
    position: relative;
  }

  &__price--old::before {
    position: absolute;
    content: '';
    border-bottom: 1px solid $secondary-text-color;
    width: 100%;
    height: 50%;
    transform: rotate(-12deg);
  }
  .button-wrapper {
    grid-area: button;
    @media screen and (min-width: $mobile) and (max-width: ($desktop)) {
      margin-top: 10px;
      text-align: center;
    }
    @media screen and (min-width: $desktop) {
      justify-self: end;
    }
  }

  &__title {
    font-size: 14px;
    line-height: 1.63;
    color: primary-text-color;
    opacity: 0.5;
    font-weight: 400;
  }

  &__item:not(:last-child) {
    @media screen and (min-width: $mobile) and (max-width: ($desktop)) {
      margin-bottom: 20px;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 30px;
    }
  }

  &__rating {
    display: flex;
  }
  &__star:not(:last-child) {
    margin-right: 3px;
  }

  &__button {
    font-size: 14px;
    border: none;
    color: $primary-background-color;
    background-color: $btn-secondary-bg-color;
    @media screen and (min-width: $mobile) and (max-width: ($desktop)) {
      padding: 15px 100px;
    }
    @media screen and (min-width: $desktop) {
      margin-top: -8px;
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  &__button:hover {
    background-color: $btn-hover-bg-color;
  }
}
