.sort {
  @media screen and (min-width: $mobile) and (max-width: ($desktop)) {
    padding-top: 36px;
    padding-bottom: 38px;
  }
  @media screen and (min-width: $desktop) {
    padding-top: 37px;
    padding-bottom: 50px;
  }

  &__container {
    margin: 0 auto;
    @media screen and (min-width: $desktop) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__text {
    font-family: $main-font;
    line-height: 1.38;
    font-weight: 400;
    font-size: 16px;
  }
  &__offers {
    font-family: $main-font;
    line-height: 0.73;
    font-weight: 600;
    @media screen and (min-width: $mobile) and (max-width: ($desktop)) {
      margin-top: 10px;
      margin-bottom: 30px;
      font-size: 26px;
    }
    @media screen and (min-width: $desktop) {
      margin-top: 24px;
      font-size: 30px;
    }
  }

  &__list {
    display: flex;
  }

  &__item {
    vertical-align: center;
    font-family: $main-font;
    border: 1px solid $secondary-border-color;

    text-align: center;
    color: $sort-text-color;
    font-weight: 400;
    cursor: pointer;
    @media screen and (min-width: $mobile) and (max-width: ($desktop)) {
      font-size: 12px;
      padding-top: 8px;
      padding-bottom: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    @media screen and (min-width: $desktop) {
      font-size: 16px;
      padding: 13px 10px;
    }
  }

  &__item:hover {
    color: $primary-text-color;
    font-weight: 400;
  }
  &__item:not(:last-child) {
    border-right: none;
  }

  &__item:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  &__item:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  &__item--offers {
    @media screen and (min-width: $mobile) and (max-width: ($desktop)) {
      width: calc(100% / 3);
    }
    @media screen and (min-width: $desktop) {
      width: 183px;
    }
  }

  &__item.active {
    font-weight: 600;
    background-color: $secondary-background-color;
    color: $primary-text-color;
  }
}
