.greencard {
  background-color: $secondary-background-color;
  @media screen and (min-width: $mobile) and (max-width: ($desktop)) {
    padding-top: 32px;
    padding-bottom: 30px;
  }
  @media screen and (min-width: $desktop) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__container {
    margin: 0 auto;
    background-color: $main-background-color;
    border-radius: 10px;
    @media screen and (min-width: $mobile) and (max-width: ($desktop)) {
      padding: 26px 24px 36px 18px;
    }
  }

  &__wrapper {
    @media screen and (min-width: $mobile) and (max-width: ($desktop)) {
      padding-top: 24px;
    }
    @media screen and (min-width: $desktop) {
      display: flex;
      align-items: center;
      padding: 27px 40px 21px 41px;
    }
  }

  &__list {
    @media screen and (min-width: $desktop) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__item:not(:last-child) {
    @media screen and (min-width: $mobile) and (max-width: $desktop) {
      margin-bottom: 18px;
    }
    @media screen and (min-width: $desktop) {
      margin-right: 119px;
    }
  }

  &__subtitle {
    @include fonts($main-font, 16px, 1.18);
    font-weight: 400;
    margin-bottom: 6px;
  }

  &__text {
    @include fonts($main-font, 18px, 1.18);
    font-weight: 600;
  }

  &__title {
    border-bottom: 1px solid $border-color;

    @media screen and (min-width: $mobile) and (max-width: ($desktop)) {
      padding-bottom: 24px;
      font-size: 32px;
    }
    @media screen and (min-width: $desktop) {
      padding-bottom: 32px;
      padding: 32px 41px;
    }
  }
  &__button {
    display: flex;
    align-items: center;
    color: $button-background-color;
    background-color: $primary-background-color;
    border: 1px solid $button-background-color;
    @media screen and (min-width: $mobile) and (max-width: ($desktop)) {
      margin-top: 22px;
      padding: 17px 47px;
    }
    @media screen and (min-width: $desktop) {
      margin-right: 0;
      margin-left: auto;
      padding: 21px 63px;
    }
  }

  &__button:hover {
    color: $primary-background-color;
    background-color: $button-background-color;
    .editicon {
      fill: $primary-background-color;
    }
  }

  .editicon {
    fill: $button-background-color;
    margin-right: 6px;
  }
}
