.sort {
  @media screen and (min-width: $mobile) and (max-width: ($desktop)) {
    padding-top: 36px;
    padding-bottom: 36px;
  }
  @media screen and (min-width: $desktop) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &__container {
    margin: 0 auto;
    @media screen and (min-width: $desktop) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__offers {
    font-family: $main-font;
    line-height: 0.73;
    font-weight: 600;
    @media screen and (min-width: $mobile) and (max-width: ($desktop)) {
      margin-top: 10px;
      margin-bottom: 20px;
      font-size: 26px;
    }
    @media screen and (min-width: $desktop) {
      margin-top: 16px;
      font-size: 30px;
    }
  }

  &__list {
    display: flex;
  }

  &__item {
    border: 1px solid $secondary-border-color;
    padding: 16px 10px;
    text-align: center;
    color: $sort-text-color;
    font-weight: 600;
    @media screen and (min-width: $mobile) and (max-width: ($desktop)) {
      font-size: 12px;
    }
    @media screen and (min-width: $desktop) {
      font-size: 16px;
    }
  }
  &__item:not(:last-child) {
    border-right: none;
  }

  &__item:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  &__item:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  &__item--offers {
    @media screen and (min-width: $mobile) and (max-width: ($desktop)) {
      width: calc(100% / 3);
    }
    @media screen and (min-width: $desktop) {
      width: 185px;
    }
  }

  &__item.active {
    background-color: $secondary-background-color;
    color: $primary-text-color;
  }
}
